html {
	font-family: 'Roboto', sans-serif;
}

article, header {
	vertical-align:middle;
	text-align: center;

}

#buttonspace {
	padding: 3em;
	text-align: center;
}



#login {
	font-family: "open sans";
	background-color: 6eafd0;
}

#logout {
	display: none;
	font-family: "open sans";
	background-color: 6eafd0;
}